body.dark  #header-menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b3b3b+0,2b2b2b+100 */
    background: #3b3b3b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3b3b3b 0%, #2b2b2b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3b3b3b 0%,#2b2b2b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3b3b3b 0%,#2b2b2b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b3b3b', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
body.dark #header-menu .title > span {
    color: #fff;
}
body.dark #windows-container > .window {
    color: #fff;
    background: #3b3b3b;
}