#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: lightblue;
    display: block;
}

html, body {
    height: 100%;
}

.container-fluid.fill {
    padding-left: 0;
    padding-right: 0;
}
.fill {
    min-height: 100%;
    height: 100%;
}
body > .mm-menu + .mm-page.mm-slideout {
    min-height: 100%;
    height: 100%;
}

#header-menu{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,c1c1c1+100  */
    /*background: #e8e8e8;
    background: -moz-linear-gradient(top,  #e8e8e8 0%, #c1c1c1 100%);
    background: -webkit-linear-gradient(top,  #e8e8e8 0%,#c1c1c1 100%);
    background: linear-gradient(to bottom,  #e8e8e8 0%,#c1c1c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#c1c1c1',GradientType=0 );*/
    margin-bottom: 0;
    border: 0;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header-menu .logo-image {
    margin: 5px 0;
    height: 45px;
}
#header-menu .title > span {
    padding: 0 10px;
    color: #333;
    font-size: 25px;
    line-height: 30px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    font-weight: bold;
}
#open-sidebar-menu {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#FF662B;
    padding: 5px 15px 0;
    line-height: 50px;
}

.container-navbar-padding {
    padding-top:50px;
}

#actions-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 56px;
}
#actions-container .btn-fab{
    background-color: #ff5722;
    color: rgba(255,255,255, 0.84);
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
#actions-container .btn-fab:hover, #actions-container .btn-fab:focus{
    background-color: #e15321;
    color: rgba(255,255,255, 1);
}

#actions-container #subactions-container, #actions-container #subactions-container > li{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    list-style: none;
}
#actions-container #subactions-container > li {
    margin-bottom: 10px;
}
#actions-container #subactions-container {
    opacity: 0;
    position: absolute;
    bottom: 56px;
    padding-top:10px;
    -webkit-transition: visibility 0s, opacity 250ms linear;
    -moz-transition: visibility 0s, opacity 250ms linear;
    -ms-transition: visibility 0s, opacity 250ms linear;
    -o-transition: visibility 0s, opacity 250ms linear;
    transition: visibility 0s, opacity 250ms linear;
    visibility: hidden;
}
#actions-container:hover #subactions-container { /* .mouseInside  */
    opacity: 1;
    visibility: visible;
}
#windows-container {
    position: absolute;
    bottom: 20px;
    top: 70px;
    left:20px;
}
#windows-container > .window {
    float:left;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:10px 15px;
    margin-right: -250px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
}
#windows-container .window > h2 {
    margin-top:0;

}