#map {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: lightblue;
    display: block;
}

html, body {
    height: 100%;
}

.container-fluid.fill {
    padding-left: 0;
    padding-right: 0;
}
.fill {
    min-height: 100%;
    height: 100%;
}
body > .mm-menu + .mm-page.mm-slideout {
    min-height: 100%;
    height: 100%;
}



#header-menu {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+0,c1c1c1+100  */
    margin-bottom: 0;
    border: 0;
    line-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#header-menu .logo-image {
    margin: 5px 0;
    height: 45px;
}
#header-menu .title > span {
    padding: 0 10px;
    color: #333;
    font-size: 25px;
    line-height: 30px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    font-weight: bold;
}
#header-menu #dn-mode-button {
    background-color: #ff5722;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15),0 1px 5px rgba(0,0,0,.075);
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    position: relative;
    top: 4px;
    text-align: center;
    width:40px;
    height: 40px;
    line-height: 40px;
}
#open-sidebar-menu {
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#FF662B;
    padding: 5px 15px 0;
    line-height: 50px;
}
.container-navbar-padding {
    padding-top:50px;
}
#actions-container {
    position: fixed;
    right: 20px;
    bottom: 20px;
    height: 56px;
}
#actions-container .btn-fab {
    background-color: #ff5722;
    color: rgba(255,255,255, 0.84);
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
}
#actions-container .btn-fab:hover, #actions-container .btn-fab:focus {
    background-color: #e15321;
    color: rgba(255,255,255, 1);
}
#actions-container #subactions-container, #actions-container #subactions-container > li{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    list-style-type: none;
    list-style: none;
}
#actions-container #subactions-container > li {
    margin-bottom: 10px;
}
#actions-container #subactions-container {
    opacity: 0;
    position: absolute;
    bottom: 56px;
    padding-top:10px;
    -webkit-transition: visibility 0s, opacity 250ms linear;
    -moz-transition: visibility 0s, opacity 250ms linear;
    -ms-transition: visibility 0s, opacity 250ms linear;
    -o-transition: visibility 0s, opacity 250ms linear;
    transition: visibility 0s, opacity 250ms linear;
    visibility: hidden;
}
#actions-container:hover #subactions-container { /* .mouseInside  */
    opacity: 1;
    visibility: visible;
}

/* WINDOWS */
#windows-container {
    position: absolute;
    bottom: 20px;
    top: 70px;
    left:20px;
}
#windows-container > .window {
    position: relative;
    z-index: 1;
    float:left;
    width: 300px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding:10px 15px;
    margin-right: -250px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    height: 100%;
}
#windows-container .window > h2 {
    margin-top:0;
}
#windows-container .window > .content {
    position: absolute;
    top: 53px;
    left: 0;
    width: 300px;
    bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
}
#windows-container .window > h2 > .close-window-button {
    display: inline-block;
    font: normal normal normal 18px/1 FontAwesome;
    margin-right: 10px;
    position: relative;
    top: -8px;
    width: 25px;
    height: 25px;
    text-align: center;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
    -webkit-transition: all 250ms;
    -moz-transition: all 250ms;
    -ms-transition: all 250ms;
    -o-transition: all 250ms;
    transition: all 250ms;
    background-color: white;
    color:inherit;
}
#windows-container .window > h2 > .close-window-button:hover {
    background-color: rgb(255, 87, 34);
    color: white;
}
#windows-container .window > h2 > .close-window-button:before {
    content: "\f053";
    position: relative;
    top: 5px;
}
#windows-container .window:nth-child(1) > h2 > .close-window-button:before {
    content: "\f00d";
    top: 3px;
}
/* /WINDOWS */
/* MARKERS */
#windows-container .window .marker .row{
    margin-bottom: 10px;
}
#windows-container .window .marker  .owner {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
}
#windows-container .window .marker .owner::after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 40px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -o-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}
#windows-container .window .marker  .date, #windows-container .window .marker  .address{
    color: lightgray;
    font-size: 0.8em;
}
#windows-container .window .marker .rating .rate-0,
#windows-container .window .marker .rating .rate-1,
#windows-container .window .marker .rating .rate-2,
#windows-container .window .marker .rating .rate-3,
#windows-container .window .marker .rating .rate-4,
#windows-container .window .marker .rating .rate-5 {
    font: normal normal normal 14px/1 FontAwesome;
}
#windows-container .window .marker .rating .rate-0:before {
    content: "\f006\f006\f006\f006\f006";
}
#windows-container .window .marker .rating .rate-1:before {
    content: "\f005\f006\f006\f006\f006";
}
#windows-container .window .marker .rating .rate-2:before {
    content: "\f005\f005\f006\f006\f006";
}
#windows-container .window .marker .rating .rate-3:before {
    content: "\f005\f005\f005\f006\f006";
}
#windows-container .window .marker .rating .rate-4:before {
    content: "\f005\f005\f005\f005\f006";
}
#windows-container .window .marker .rating .rate-5:before {
    content: "\f005\f005\f005\f005\f005";
}
/* /MARKERS */
/* COMMENTS */
#windows-container .window .comments {

}
#windows-container .window .comments .comment{
    margin-bottom: 10px;
}
#windows-container .window .comments .owner {
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
}
#windows-container .window .comments .owner::after {
    content: ''; /* Выводим элемент */
    position: absolute; /* Абсолютное позиционирование */
    right: 0; top: 0; /* Положение элемента */
    width: 40px; /* Ширина градиента*/
    height: 100%; /* Высота родителя */
    /* Градиент */
    background: -moz-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -webkit-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -o-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255, 0.2), #fff 100%);
    background: linear-gradient(to right, rgba(255,255,255, 0.2), #fff 100%);
}
#windows-container .window .comments .date{
    color: lightgray;
    font-size: 0.8em;
}
/* /COMMENTS */
div.hr {
    height: 1px;
    width: 100%;
    background: rgb(169, 169, 169);
    background: rgba(211, 211, 211, .5);
    clear: both;
}